<div class="row">
    <div class="col-lg-12">
        <div class="card-wrapper">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Información del Banco</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label" for="nombre">Nombre</label>
                        <%= text_field(:bancos, :nombre, class: "form-control", id: "nombre") %>
                        <p class="text-danger"><%= @registro.errors[:nombre].first %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
