<li class="nav-item">
    <a class="nav-link" href="<%= eval(ruta["Ruta"]) %>">
        <i class="<%= clase_icono["Icono"] %>"></i>
        <span class="nav-link-text"><%= titulo %></span>
    </a>
</li>