<div id="template" class="row invisible fila">
    <div class="form-group mb-2 col-lg-3">
        <select name="comprobante[comprobante_detalle_attributes][0][forma_pago_id]" class="form-control forma_pago_input" data-width="100%" disabled>
            <%= options_from_collection_for_select(FormaPago.all, :id, :nombre) %>
        </select>
    </div>

    <div class="form-group mb-2 moneda col-lg-2">
        <input class="form-control tipo_moneda_id" type="text" readonly>
    </div>

    <div class="form-group mb-2 monto col-lg-2">
        <input type="number" value="0" min="0" step="0.01" name="comprobante[comprobante_detalle_attributes][0][monto_pagado]" class="form-control monto_input" type="text" disabled>
    </div>

    <div class="form-group mb-2 monto_total col-lg-2">
        <input class="form-control monto_convertido" type="text" readonly>
    </div>

    <div class="form-group mb-2 concepto col-lg-2">
        <input name="comprobante[comprobante_detalle_attributes][0][referencia]" class="form-control concepto_input" type="text" disabled>
    </div>

    <div class="form-group mb-2 concepto col-lg-1">
        <button type="button" class="btn btn-instagram btn-icon-only rounded-circle eliminar_fila">
            <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
        </button>
    </div>
</div>