<div class="row">
    <div class="col-lg-12">
        <div class="card-wrapper">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Información de Cuotas</h3>
                </div>
                <div class="card-body row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label">Total Pendiente : <span id="total_pendiente">USD 0.00</span></label>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Numero de Cuota : <span id="numero_cuota">?</span></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label">Cuota: <span id="monto_cuota">USD 0.00</span></label>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Pendiente Cuota: <span id="monto_pendiente">USD 0.00</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>